python-dotenv==1.0.0
psycopg2-binary==2.9.9
django==5.0.6
django_rest_framework==0.1.0
# openai==1.30.5
langchain==0.2.1
langchain-community==0.2.1
langchainhub==0.1.17
langchain-openai==0.1.8
# bs4==0.0.2
opensearch-py==2.6.0
boto3==1.34.117
pandas==2.1.4
openpyxl==3.1.2
django-cors-headers==4.3.1
channels== 4.1.0
amazon-transcribe==0.6.2
aiofile==3.8.8
# pyannote.audio==3.3.0
websockets==12.0
amazon-transcribe==0.6.2
openai-whisper==20231117
uvicorn==0.27.0.post1
requests==2.31.0
setuptools==70.0.0
wheel==0.40.0
spacy==3.7.5
phonenumbers==8.13.40
requests-aws4auth==1.2.3
pydub==0.25.1
djangorestframework-simplejwt==5.3.1
djangorestframework==3.15.1
Levenshtein==0.25.0