# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Exclude tfplan files
*.tfplan

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive variable files
terraform.tfvars
*.tfvars

# Ignore Terraform lock file
*.terraform.lock.hcl